**About Dataset
In the case study titled "Blinkit: Grocery Product Analysis," a dataset called 'BlinkIT Grocery Data' contains 12 columns with information on sales of grocery items across different outlets. Using PowerBI, we can uncover customer behavior insights, track sales trends, and gather feedback. These insights will drive operational improvements, enhance customer satisfaction, and optimize product offerings and store layout.

The table BlinkIT Grocery Data is a .xlsx file and has the following columns, details of which are as follows:

• Item_Fat_Content: Indicates whether the product is low fat or not.
• Item_Identifier: A unique ID for each product in the dataset.
• Item_Type: The category or type of product.
• Outlet_Establishment_Year: The year in which the store was established.
• Outlet_Identifier: A unique ID for each store in the dataset.
• Outlet_Location_Type: The type of city or region in which the store is located.
• Outlet_Size: The size of the store in terms of ground area covered.
• Outlet_Type: Indicates whether the store is a grocery store or a supermarket.
• Item_Visibility: The percentage of the total display area in the store that is allocated to the specific product.
• Item_Weight: The weight of the product.
• Item_Outlet_Sales: The sales of the product in the particular store. This is the outcome variable that we want to predict.
• Rating: Customer Rating

Business Requirement :
1. Analyze the impact of fat content on total sales
2. Identify the performance of different item types in terms of total sales
3. Compare total sales across different outlets segmented by fat content
4. Evaluate how the age or type of outlet establishment influences total sales
5. Analyze the correlation between outlet size and total sales
6. Assess the geographic distribution of sales across different locations
7. Provide a comprehensive view of all key metrics (Total Sales, Average Sales, Number Of Items, Average Rating)

In [2]:
import pandas as pd

df = pd.read_excel("BlinkIT Grocery Data.xlsx", engine='openpyxl')
df.head()

,Item Fat Content,Item Identifier,Item Type,Outlet Establishment Year,Outlet Identifier,Outlet Location Type,Outlet Size,Outlet Type,Item Visibility,Item Weight,Sales,Rating
0,Regular,FDX32,Fruits and Vegetables,2012,OUT049,Tier 1,Medium,Supermarket Type1,0.100014,15.10,145.4786,5.0
1,Low Fat,NCB42,Health and Hygiene,2022,OUT018,Tier 3,Medium,Supermarket Type2,0.008596,11.80,115.3492,5.0
2,Regular,FDR28,Frozen Foods,2016,OUT046,Tier 1,Small,Supermarket Type1,0.025896,13.85,165.0210,5.0
3,Regular,FDL50,Canned,2014,OUT013,Tier 3,High,Supermarket Type1,0.042278,12.15,126.5046,5.0
4,Low Fat,DRI25,Soft Drinks,2015,OUT045,Tier 2,Small,Supermarket Type1,0.033970,19.60,55.1614,5.0

In [3]:
df['Item Fat Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item Fat Content, dtype: int64

In [4]:
df['Item Fat Content'] = df['Item Fat Content'].replace({'LF':'Low Fat','low fat':'Low Fat','reg':'Regular'})

In [5]:
df['Item Fat Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item Fat Content, dtype: int64

In [6]:
df.isnull().sum()

Item Fat Content                0
Item Identifier                 0
Item Type                       0
Outlet Establishment Year       0
Outlet Identifier               0
Outlet Location Type            0
Outlet Size                     0
Outlet Type                     0
Item Visibility                 0
Item Weight                  1463
Sales                           0
Rating                          0
dtype: int64

In [7]:
df.describe()

,Outlet Establishment Year,Item Visibility,Item Weight,Sales,Rating
count,8523.000000,8523.000000,7060.000000,8523.000000,8523.000000
mean,2016.450546,0.066132,12.857645,140.992783,3.965857
std,3.189396,0.051598,4.643456,62.275067,0.605651
min,2011.000000,0.000000,4.555000,31.290000,1.000000
25%,2014.000000,0.026989,8.773750,93.826500,4.000000
50%,2016.000000,0.053931,12.600000,143.012800,4.000000
75%,2018.000000,0.094585,16.850000,185.643700,4.200000
max,2022.000000,0.328391,21.350000,266.888400,5.000000

In [11]:
df.columns

Index(['Item Fat Content', 'Item Identifier', 'Item Type',
       'Outlet Establishment Year', 'Outlet Identifier',
       'Outlet Location Type', 'Outlet Size', 'Outlet Type', 'Item Visibility',
       'Item Weight', 'Sales', 'Rating'],
      dtype='object')

In [13]:
def clean_column_names(columns):
    return [col.lower().replace(' ', '_') for col in columns]

df.columns = clean_column_names(df.columns)

df.columns

Index(['item_fat_content', 'item_identifier', 'item_type',
       'outlet_establishment_year', 'outlet_identifier',
       'outlet_location_type', 'outlet_size', 'outlet_type', 'item_visibility',
       'item_weight', 'sales', 'rating'],
      dtype='object')

In [14]:
df.head()

,item_fat_content,item_identifier,item_type,outlet_establishment_year,outlet_identifier,outlet_location_type,outlet_size,outlet_type,item_visibility,item_weight,sales,rating
0,Regular,FDX32,Fruits and Vegetables,2012,OUT049,Tier 1,Medium,Supermarket Type1,0.100014,15.10,145.4786,5.0
1,Low Fat,NCB42,Health and Hygiene,2022,OUT018,Tier 3,Medium,Supermarket Type2,0.008596,11.80,115.3492,5.0
2,Regular,FDR28,Frozen Foods,2016,OUT046,Tier 1,Small,Supermarket Type1,0.025896,13.85,165.0210,5.0
3,Regular,FDL50,Canned,2014,OUT013,Tier 3,High,Supermarket Type1,0.042278,12.15,126.5046,5.0
4,Low Fat,DRI25,Soft Drinks,2015,OUT045,Tier 2,Small,Supermarket Type1,0.033970,19.60,55.1614,5.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item_fat_content           8523 non-null   object
 1   item_identifier            8523 non-null   object
 2   item_type                  8523 non-null   object
 3   outlet_establishment_year  8523 non-null   int64
 4   outlet_identifier          8523 non-null   object
 5   outlet_location_type       8523 non-null   object
 6   outlet_size                8523 non-null   object
 7   outlet_type                8523 non-null   object
 8   item_visibility            8523 non-null   float64
 9   item_weight                7060 non-null   float64
 10  sales                      8523 non-null   float64
 11  rating                     8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [16]:
# Convert columns to appropriate types to transfer to mysql
df['outlet_establishment_year'] = df['outlet_establishment_year'].astype(int)
df['item_visibility'] = df['item_visibility'].astype(float)
df['item_weight'] = df['item_weight'].astype(float)
df['sales'] = df['sales'].astype(float)
df['rating'] = df['rating'].astype(float)

In [17]:
df['item_weight'] = df['item_weight'].fillna(0)

In [19]:
df.isnull().sum()

item_fat_content             0
item_identifier              0
item_type                    0
outlet_establishment_year    0
outlet_identifier            0
outlet_location_type         0
outlet_size                  0
outlet_type                  0
item_visibility              0
item_weight                  0
sales                        0
rating                       0
dtype: int64

In [20]:
from sqlalchemy import create_engine
import mysql.connector

# Database credentials
db_user = 'root'
db_password = 'root'
db_host = 'localhost'
db_port = '3306'
db_name = 'blinkit'

# Create an engine
engine = create_engine(f"mysql+mysqlconnector://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")


# Load DataFrame to MySQL
df.to_sql(name='grocery_data', con=engine, if_exists='replace', index=False)